.layout {
    display: grid;
    grid-template-columns: var(--sidebar-width) 1fr;
    grid-template-rows: var(--header-height) 1fr;
    grid-template-areas:
        "header header"
        "sidebar main";
    height: 100vh;
}
.main-content {
    grid-area: main;
    overflow-y: auto;
    padding:24px;
}